<!DOCTYPE html>
<html lang="es">

<!-- Incluir head -->
<%- include('../layout/oyentes/agregarOyenteHead') %>

<body class="min-vh-100 d-flex flex-column">

    <!-- Contenedor principal -->
    <div class="container">
        <h1>Registrar Oyente</h1>
        
        <!-- Mensaje de error -->
        <% if (typeof error !== 'undefined') { %>
            <div class="alert-error"><%= error %></div>
        <% } %>

        <!-- Formulario -->
        <form action="/oyentes/agregarOyente" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input type="text" id="correo" name="correo" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>
            </div>

            <div class="form-group">
                <label for="fecha_registro">Fecha de registro:</label>
                <input type="date" id="fecha_registro" name="fecha_registro" required>
            </div>
            
            <div class="form-group">
                <label for="generos">Géneros Favoritos:</label>
                <input type="text" id="generos" name="generos" required>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a href="/" class="btn btn-cancel">Volver al Inicio</a>
            </div>
        </form>
    </div>

    <!-- Incluir scripts de js -->
    <%- include('../layout/noticias/agregarNoticiaScripts') %>
</body>
</html>