<!-- Sidebar -->
<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img d-flex align-items-center">
                <span class="fs-5 fw-bold mx-2">Colosal 88.3</span>
                <iconify-icon icon="mdi:radio-tower" class="fs-4 me-2"></iconify-icon>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                    <span class="hide-menu">Opciones</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:account-voice" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Locutores</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/locutores/agregarLocutor" class="sidebar-link">
                                <span class="hide-menu">Registrar Locutor</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/locutores" class="sidebar-link">
                                <span class="hide-menu">Lista de Locutores</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:calendar-clock" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Programación</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/programacion/agregarProgramacion" class="sidebar-link">
                                <span class="hide-menu">Añadir Programación</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/programacion" class="sidebar-link">
                                <span class="hide-menu">Lista de Programación</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:bullhorn" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Publicidad</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/publicidad/agregarPublicidad" class="sidebar-link">
                                <span class="hide-menu">Añadir Publicidad</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/publicidad" class="sidebar-link">
                                <span class="hide-menu">Lista de Publicidades</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:microphone-variant" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Noticias</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/noticias/agregarNoticia" class="sidebar-link">
                                <span class="hide-menu">Añadir Noticia</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/noticias" class="sidebar-link">
                                <span class="hide-menu">Lista de Noticias</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:calendar-star" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Eventos</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/eventos/agregarEvento" class="sidebar-link">
                                <span class="hide-menu">Añadir Evento</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/eventos" class="sidebar-link">
                                <span class="hide-menu">Lista de Eventos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:headphones" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Oyentes</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/oyentes/agregarOyente" class="sidebar-link">
                                <span class="hide-menu">Registrar Oyente</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/oyentes" class="sidebar-link">
                                <span class="hide-menu">Lista de Oyentes</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:comment-multiple" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Comentarios</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/comentarios/agregarComentario" class="sidebar-link">
                                <span class="hide-menu">Añadir Comentario</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/comentarios" class="sidebar-link">
                                <span class="hide-menu">Lista de Comentarios</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:play-box-multiple" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Multimedios</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/multimedios/agregarMultimedio" class="sidebar-link">
                                <span class="hide-menu">Añadir Multimedio</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/multimedios" class="sidebar-link">
                                <span class="hide-menu">Lista de Multimedios</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:handshake" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Clientes</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/clientes/agregarCliente" class="sidebar-link">
                                <span class="hide-menu">Añadir Cliente</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/clientes" class="sidebar-link">
                                <span class="hide-menu">Lista de Clientes</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" aria-expanded="false">
                        <div>
                            <iconify-icon icon="mdi:tag-multiple" class="fs-6"></iconify-icon>
                            <span class="hide-menu ms-2">Tarifas</span>
                        </div>
                        <iconify-icon icon="line-md:chevron-down" class="dropdown-icon fs-6"></iconify-icon>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/tarifas/agregarTarifa" class="sidebar-link">
                                <span class="hide-menu">Añadir Tarifa</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/tarifas" class="sidebar-link">
                                <span class="hide-menu">Lista de Tarifas</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>