<!doctype html>
<html lang="en">

<!-- Incluir head -->
<%- include('./layout/head') %>

        <body>
                
                <main class="contenido">
                        <img src="../images/backgrounds/banner-3.png" alt="Banner Homepage">
                       
                        <section class="contenido-interno">
                 <h3 style="margin-bottom: 30px;">Programas Destacados</h3>

                      <div class="card-container">
                        <div class="card">
                          <img src="../images/backgrounds/zurco-2.jpg" alt="Imagen 1">
                          <h3>ZURCO MUSICAL</h3>
                          <p><strong>Horario:</strong> 04:00 AM A 05:00 AM</p>
                        </div>
                        <div class="card">
                          <img src="../images/backgrounds/frecuencia.jpg" alt="Imagen 2">
                          <h3>FRECUENCIA COLOSAL</h3>
                          <p><strong>Horario:</strong> 06:00 AM A 07:00 AM</p>
                        </div>
                        <div class="card">
                          <img src="../images/backgrounds/tarde.jpg" alt="Imagen 3">
                          <h3>LOS CLÁSICOS DE LA TARDE</h3>
                          <p><strong>Horario:</strong> 05:00 PM A 06:00 PM</p>
                        </div>
                      </div>
                        </section>
                </main>

                <!--  Body Wrapper -->
                <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
                        data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

                        <!-- Incluir sidebar -->
                        <%- include('./layout/sidebar') %>

                                <!-- Body -->
                                <div class="body-wrapper">

                                </div>

                </div>

                <!-- Incluir scripts de js -->
                <%- include('./layout/scripts') %>
        </body>
        
</html>
